<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header col-md-3">
					<a class="navbar-brand" href="#">403工作室</a>
				</div>
				<div class="collapse navbar-collapse align-right">
					<ul class="nav navbar-nav">
						<li><a href="#">Home</a></li>
						<li class="active"><a href="http://docs.403studio.com">Docs</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					{% include nav_npm.html %}
				</div>
				<div class="col-md-9">{{ content }}</div>
			</div>
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
			</ul>
		</footer>
	</body>
</html>
